/* Reset y base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;

/* Animacion de entrada a la pagina */
    mask-image: url(/Assets/svg/question-mark-sign-svgrepo-com.svg); /* link del svg */
    mask-position: center; /* posicion centrada*/
    mask-repeat: no-repeat; /* aparece solo un logo */
    mask-size: 50px; /* tamaño pequeño al entrar*/

    animation: lock-reveal 3s forwards ease-in-out; /* la animacion dura 3 seg */ 
}

@keyframes lock-reveal {
    0% {
        mask-size: 50px; /* empieza en valor inicial*/
    }

    100% {
        mask-size: 1000vh; /* termina siendo tan grande que "desaparece" */
    }
}

/* Contenedor principal */
#box {
    background-color: white;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}


.info-panel {
    display: flex;              /* Usa Flexbox para colocar los elementos hijos en fila */
    flex-wrap: wrap;            /* Permite que las cajas bajen a la siguiente línea si no hay espacio */
    justify-content: center;    /* Centra horizontalmente las cajas dentro del contenedor */
    align-items: center;        /* Centra verticalmente las cajas dentro del contenedor */
    gap: 20px;                  /* Espacio de 20px entre cada caja */
    margin-top: 30px;           /* Espacio superior del contenedor */
    margin-bottom: 30px;        /* Espacio inferior del contenedor */
}

.try-range {
    margin: 10px auto;                          /* 10px de margen vertical, centrado horizontalmente */
    padding: 16px;                              /* Espaciado interno entre contenido y bordes */
    border: 1px solid #ccc;                   /* Borde gris claro alrededor de la caja */
    border-radius: 8px;                         /* Bordes redondeados (8px) */
    background: #d1b6f079;                    /* Color de fondo violeta claro con transparencia */
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);  /* Sombra suave para dar sensación de relieve */
    line-height: 1.5;                           /* Espaciado entre líneas del texto */
    text-align: center;                         /* Centra el texto horizontalmente */
}

.info-box {
    flex: 1 1 150px;            /* 
                                   flex-grow: 1  → permite crecer si hay espacio
                                   flex-shrink: 1 → permite reducir su tamaño si falta espacio
                                   flex-basis: 150px → ancho base o mínimo sugerido
                                */
    max-width: 200px;           /* Ancho máximo de cada caja */
}



/* Continuaremos con los estilos específicos... */